{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">

</head>

<body>
 
    <header>
        <nav>
            <picture>
            <a href="./index.html" >
                <img class="logo" src="./images/branding/logo_light_horizontal.svg" type="img/svg" alt="Isologotipo de la marca Funkoshop">
            </a>
            </picture>
            <ul class="headerul">
                <li><a href="">VER TIENDA</a></li>
                <li><a href="">ADMIN</a></li>
                <li><a href="">SALIR</a></li>
              
            </ul>
        </nav>
        
    </header>

<main>
    <section class="search">
        <iconify-icon icon="material-symbols:search"></iconify-icon>
        <input type="text" placeholder="código, nombre o categoría">
        
    </section>

    <section class="listado">

    <h1>LISTADO DE PRODUCTOS</h1>
    <h5>AGREGAR</h5>

    </section>


    <SEction class="grid">
        <div class="item encabezado">ID</div>
        <div class="item encabezado">CODIGO</div>
        <div class="item encabezado">NOMBRE DE PRODUCTO</div>
        <div class="item encabezado">CATEGORIA</div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item">1</div>
        <div class="item">STW001001</div>
        <div class="item">Baby Yoda Blueball</div>
        <div class="item">STAR WARS</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
        <div class="item">2</div>
        <div class="item">STW001001</div>
        <div class="item">Boba Fett Fighter</div>
        <div class="item">STAR WARS</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
        <div class="item">3</div>
        <div class="item">STW001001</div>
        <div class="item">Baby Yoda Blueball </div>
        <div class="item">STAR WARS</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
        <div class="item">4</div>
        <div class="item">STW001001</div>
        <div class="item">Luke Skylwalker & Grogu</div>
        <div class="item">STAR WARS</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
        <div class="item">5</div>
        <div class="item">STW001001</div>
        <div class="item">Stormtrooper Lightsaber</div>
        <div class="item">POKEMON</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
        <div class="item">6</div>
        <div class="item">STW001001</div>
        <div class="item">Baby Yoda Blueball </div>
        <div class="item">POKEMON</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
        <div class="item">7</div>
        <div class="item">STW001001</div>
        <div class="item">Baby Yoda Blueball </div>
        <div class="item">POKEMON</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
        <div class="item">8</div>
        <div class="item">STW001001</div>
        <div class="item">Baby Yoda Blueball </div>
        <div class="item">POKEMON</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
        <div class="item">9</div>
        <div class="item">STW001001</div>
        <div class="item">Baby Yoda Blueball </div>
        <div class="item">POKEMON</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
        <div class="item">10</div>
        <div class="item">STW001001</div>
        <div class="item">Baby Yoda Blueball </div>
        <div class="item">HARRY POTTER</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
        <div class="item">11</div>
        <div class="item">STW001001</div>
        <div class="item">Baby Yoda Blueball </div>
        <div class="item">HARRY POTTER</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
        <div class="item">12</div>
        <div class="item">STW001001</div>
        <div class="item">Baby Yoda Blueball </div>
        <div class="item">HARRY POTTER</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
        <div class="item">13</div>
        <div class="item">STW001001</div>
        <div class="item">Baby Yoda Blueball </div>
        <div class="item">HARRY POTTER</div>
        <img src="./Images/icons/edit_pencil.svg" alt="" class="item"></div>        
        <img src="./Images/icons/delete_trash.svg" alt="" class="item"></div>    
 
    </SEction>
</main>

    <footer>

        <ul>
            <li>
                <a href="">SHOP</a>
            </li>
            <li>
                <a href="">REGISTRARSE</a>
            </li>
            <li>
                <a href="">INGRESAR</a>
            </li>
            <li>
                <a href="">CONTACTO</a>
            </li>
        </ul>

        <p>All rights reserved 2023 - Funkoshop &copy</p>

        <img src="./images/branding/isotype.svg" type="img/svg" alt="Isologotipo de la marca Funkoshop">
        

    </footer>

    {% block content %}
    {% endblock %}
    
</body>
</html>